<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 목록</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- 친구 목록 보기 component -->
    <!--
        요구 조건
        1. 사용하는 html 에서 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> 추가
    -->
    <div th:fragment="friendList">
        <div id="friend-component">

            <ul id="friend-component_tabs">
                <li class="tab-item active" data-tab="friendTab">친구 목록 <span id="friend-count">0</span></li>
                <li class="tab-item" data-tab="requiredTab">받은 요청 <span id="required-count">0</span></li>
                <li class="tab-item" data-tab="requestTab">보낸 요청 <span id="request-count">0</span></li>
            </ul>

            <div id="friend-component_tab-content">
                <!-- 친구목록 -->
                <div id="friendTab" class="tab-content active">
                    <!-- 친구 목록 아이템이 추가될 부분 -->
                </div>

                <!-- 받은 친구 요청 -->
                <div id="requiredTab" class="tab-content">
                    <!-- 받은 요청 아이템이 추가될 부분 -->
                </div>

                <!-- 보낸 친구 요청 -->
                <div id="requestTab" class="tab-content">
                    <!-- 보낸 요청 아이템이 추가될 부분 -->
                </div>
            </div>
        </div>

        <style>
            /* 기본 스타일 설정 */
            #friend-component {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                overflow: hidden;
            }

            /* 탭 */
            #friend-component #friend-component_tabs {
                display: flex;
                width: 100%;
                border-bottom: 2px solid #ccc;
            }

            /* 탭 아이템 */
            #friend-component .tab-item {
                padding: 10px 20px;
                cursor: pointer;
                text-align: center;
                flex: 1 1 auto;
                word-wrap: break-word;
            }

            #friend-component .tab-item.active {
                font-weight: bold;
                color: #333;
                border-bottom: 2px solid #333;
            }

            /* 탭 컨텐츠 */
            #friend-component #friend-component_tab-content {
                /* padding: 10px; */
                width: 100%;
                height: 100%;
                display: block;
                box-sizing: border-box;
            }

            #friend-component .tab-content {
                overflow-y: auto; /* 스크롤바 */
                display: none;
            }

            #friend-component .tab-content.active {
                display: block;
            }

            /* 친구 목록 아이템 */
            #friend-component .friend-item {
                display: flex;
                align-items: center;
                padding: 10px;
                border-bottom: 1px solid #ccc;
            }

            #friend-component .friend-item_profile {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
            }

            #friend-component .friend-item_profile img {
                width: 100%;
                height: 100%;
            }

            #friend-component .friend-item_text {
                padding: 5px 10px;
            }
        </style>

        <!-- Web Component -->
        <script>
            // Web Component 정의: friend-item
            class FriendItem extends HTMLElement {
                
                /*
                <friend-item>
                    <div class="friend-item">
                        <div class="friend-item_profile">
                            <img src="/img/person.png" alt="프로필 사진" style="background: #333">
                        </div>
                        <div class=friend-item_text>
                            <p><strong>John Doe</strong></p>
                        </div>
                    </div>
                </friend-item>
                */
                
                /*
                item = {
                    
                }
                */
                constructor(item) {
                    super();
                    // const shadow = this.attachShadow({ mode: 'open' });
                    const container = document.createElement('div');
                    container.classList.add('friend-item');
                    container.innerHTML = `
                        <div class="friend-item_profile">
                            <img src="/img/person.png" alt="프로필 사진" style="background: #333">
                        </div>
                        <div class="friend-item_text">
                            <p><strong>${item.nickName}</strong></p>
                        </div>
                    `;
                    this.appendChild(container);
                    // shadow.appendChild(container);
                }
            }

            // Web Component 정의: request-item
            class RequestItem extends HTMLElement {
                constructor(item) {
                    super();
                    const shadow = this.attachShadow({ mode: 'open' });
                    const container = document.createElement('div');
                    container.classList.add('request-item');
                    container.innerHTML = `
                        <p><strong>${item.name}</strong></p>
                        <button>수락</button>
                        <button>거절</button>
                    `;
                    shadow.appendChild(container);
                }
            }

            // 커스텀 태그 등록
            customElements.define('friend-item', FriendItem);
            customElements.define('request-item', RequestItem);
        </script>

        <script>
            let friendItem = []; // 전역 변수 선언
            let requiredItem = []; // 전역 변수 선언
            let requestItem = []; // 전역 변수 선언

            let hasThrottledFriend = false;
            let hasThrottledRequired = false;
            let hasThrottledRequest = false;

            let friendScrollTimer = null;
            let requiredScrollTimer = null;
            let requestScrollTimer = null;

            let friendScrollEvent = true;
            let requiredScrollEvent = true;
            let requestScrollEvent = true;

            let friendPage = 0;
            let requiredPage = 0;
            let requestPage = 0;

            const pageSize = 100;

            function init() {
                console.log("0. 초기화 시작");
                componentSizeInit();    // 컨포넌트 사이즈 스캔
                tabEventInit();         // 탭 이벤트 등록
                addScrollEvent();       // 스크롤 이벤트 등록
                console.log("0. 초기화 종료");
            }

            function componentSizeInit() {
                console.log("1. 컴포넌트 사이즈 초기화");
                const friendComponent = document.getElementById("friend-component");
                const friendComponentTabs = document.getElementById("friend-component_tabs");
                const friendComponentTabContent = document.getElementById("friend-component_tab-content");

                // init 작업 시작
                const friendWrapper = friendComponent.closest('#friend-wrapper');
                const wrapperWidth = friendWrapper.getAttribute("data-width");
                const wrapperHeight = friendWrapper.getAttribute("data-height");
                // const wrapperWidth = friendWrapper.offsetWidth;
                // const wrapperHeight = friendWrapper.offsetHeight;

                console.log(`1. 사이즈 스캔 결과 width = ${wrapperWidth}, height = ${wrapperHeight}`);

                friendComponent.style.width = wrapperWidth + "px";
                friendComponent.style.height = wrapperHeight + "px";
                
                const tabsWidth = friendComponentTabs.offsetWidth;
                const tabsHeight = friendComponentTabs.offsetHeight;

                friendComponentTabContent.style.width = wrapperWidth + "px";
                friendComponentTabContent.style.height = wrapperHeight - tabsHeight + "px";

                friendComponentTabContent.querySelectorAll(".tab-content").forEach(content => {
                    // content.style.width = wrapperWidth + "px";
                    content.style.height = wrapperHeight - tabsHeight + "px";
                });
                console.log("1. 컴포넌트 사이즈 초기화 종료");
            }

            function tabEventInit() {
                console.log("2. 탭 이벤트 등록");
                const tabs = document.querySelectorAll("#friend-component #friend-component_tabs .tab-item");
                const contents = document.querySelectorAll("#friend-component #friend-component_tab-content .tab-content");

                // 1. tabs 클릭이벤트
                tabs.forEach(tab => {
                    tab.addEventListener("click", () => {
                        console.log("탭 클릭 이벤트 발생");
                        // 1-1. 모든 탭 비활성화
                        tabs.forEach(tab => tab.classList.remove("active"));
                        
                        // 1-2. 모든 컨텐츠 비활성화
                        contents.forEach(content => content.classList.remove("active"));

                        // 1-3. 클릭한 탭 활성화
                        tab.classList.add("active");
                        
                        // 1-4. 클릭한 탭에 해당하는 컨텐츠 활성화
                        document.getElementById(tab.getAttribute("data-tab")).classList.add("active");
                    });
                });
                console.log("2. 탭 이벤트 등록 종료");
            }

            function getFriendItem(){
                axios.get(`/api/v1/friend?page=${friendPage}&size=${pageSize}`)
                .then(res => {
                    const data = res.data;
                    const totalFriendCount = data.totalCount;
                    const friendList = data.list;

                    if(friendList.length === 0){
                        friendScrollEvent = false;
                        return;
                    }

                    updateTotalCount("friend-count", totalFriendCount);

                    // 중복 제거 후 신규 데이터 추가
                    const newFriendList = friendList.filter(item => !friendItem.some(existingItem => existingItem.id === item.id));
                    friendItem.push(...newFriendList);
                    appendFriendItem(newFriendList);

                    friendPage++;
                })
                .catch(e => {
                    console.error(e);
                });
            }

            function getRequiredItem(){
                axios.get(`/api/v1/friend/required-list?page=${requiredPage}&size=${pageSize}`)
                .then(res => {
                    const data = res.data;
                    const totalRequiredCount = data.totalCount;
                    const requiredList = data.list;
                    if(requiredList.length === 0){
                        requiredScrollEvent = false;
                        return;
                    }

                    updateTotalCount("required-count", totalRequiredCount);

                    // 중복 제거 후 신규 데이터 추가
                    const newRequiredList = requiredList.filter(item => !requiredItem.some(existingItem => existingItem.id === item.id));
                    requiredItem.push(...newRequiredList);
                    // appendFriendItem(newFriendList);

                    requiredPage++;
                })
                .catch(e => {
                    console.error(e);
                });
            }

            function getRequestItem(){}

            function updateTotalCount(id, count){
                document.getElementById(id).innerText = count;
            }

            function appendFriendItem(items){
                const friendList = document.getElementById("friendTab");
                items.forEach(item => {
                    friendList.appendChild(new FriendItem(item));
                });
            }

            function appendRequiredItem(items){
                const requiredList = document.getElementById("requestsTab");
                items.forEach(item => {
                    requiredList.appendChild(new RequestItem(item));
                });
            }

            function appendRequestItem(items){
                const requestList = document.getElementById("sentRequestsTab");
                items.forEach(item => {
                    requestList.appendChild(new RequestItem(item));
                });
            }

            function addScrollEvent() {
                console.log("3. 스크롤 이벤트 등록");
                const friendTab = document.getElementById("friendTab");
                const requiredTab = document.getElementById("requiredTab");
                const requestTab = document.getElementById("requestTab");

                friendTab.addEventListener("scroll", () => {
                    if (!friendScrollEvent) return; // 이벤트가 등록되어있는지 확인

                    if(hasThrottledFriend) return; // 스크롤 이벤트 쓰로틀링

                    hasThrottledFriend = true;
                    if(friendScrollTimer) {
                        clearTimeout(friendScrollTimer);
                    }
                    friendScrollTimer = setTimeout(() => {
                        hasThrottledFriend = false;
                    }, 200);

                    if (friendTab.scrollTop + friendTab.clientHeight >= friendTab.scrollHeight - 5) {
                        console.log("친구 목록 스크롤 이벤트 발생");
                        getFriendItem();
                    }
                });

                requiredTab.addEventListener("scroll", () => {
                    if(!requiredScrollEvent) return;

                    if(hasThrottledRequired) return;

                    hasThrottledRequired = true;
                    if(requiredScrollTimer) {
                        clearTimeout(requiredScrollTimer);
                    }
                    requiredScrollTimer = setTimeout(() => {
                        hasThrottledRequired = false;
                    }, 200);

                    if (requiredTab.scrollTop + requiredTab.clientHeight >= requiredTab.scrollHeight - 5) {
                        console.log("받은 요청 스크롤 이벤트 발생");
                        getRequiredItem();
                    }
                });

                requestTab.addEventListener("scroll", () => {
                    if(!requestScrollEvent) return;

                    if(hasThrottledRequest) return;

                    hasThrottledRequest = true;
                    if(requestScrollTimer) {
                        clearTimeout(requestScrollTimer);
                    }
                    requestScrollTimer = setTimeout(() => {
                        hasThrottledRequest = false;
                    }, 200);

                    if (requestTab.scrollTop + requestTab.clientHeight >= requestTab.scrollHeight - 5) {
                        console.log("보낸 요청 스크롤 이벤트 발생");
                        getRequestItem();
                    }
                });

                console.log("3. 스크롤 이벤트 종료");
            }

            window.onload = function() {
                // 1. 초기화
                init();

                // 2. 초기 데이터 로드
                getFriendItem();
                getRequestItem();
                getRequiredItem();
            }
        </script>
    </div>
</body>
</html>