@charset "utf-8";
@import url('fonts.css');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

/* 공통 */
body {color: #333; font-family: 'Gmarket Sans',sans-serif; box-sizing: border-box; scroll-behavior: smooth; overflow-x: hidden;  width: 100%; height: auto; background: #f5f5f5;}
#wrap { width: 100%; height: 100%; }
main {max-width: 1300px; height: calc(100vh-300px); margin: 0 auto; }



/* 메인배너 */
.main-banner{display: flex; justify-content: space-between; width: 100%; height: 100%; padding: 150px 0;}
.banner-text {width: 55%;  display: flex; flex-direction: column; justify-content: space-between;}
.banner-text > h2 {font-size: 48px; line-height: 1.3;}
.banner-text > p {font-family: 'Noto Sans KR', sans-serif;}
.brown {font-weight: 400; color: #a3622c;}
.banner-img {width: 45%; position: relative;display: inline-block;}
.banner-img img {
  display: block;
  width: 100%; /* 필요에 따라 조정 */
  height: auto; /* 필요에 따라 조정 */
  opacity: 0.8;
}
.banner-img::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 0;
  width: 120px;
  height: 60px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.3));
  transform: rotate(45deg);
  transform-origin: top right;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
  z-index: 1; /* 필요에 따라 조정 */}

  .banner-img::before {
    content: '';
  position: absolute;
  bottom: -50px;
  left: -30px;
  width: 120px;
  height: 60px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.3));
  transform: rotate(45deg);
  transform-origin: top right;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
  z-index: 1; /* 필요에 따라 조정 */}

.banner-btn {display: flex; align-items: center; justify-content: center;width: 200px;font-size: 18px;font-weight: 600;color: #fff;cursor: pointer;height: 55px;text-align:center; border: none; border-radius: 20px; background-size: 300% 100%;transition: all 0.3s;}
.banner-btn:hover { background-position: 100% 0;}
.banner-btn.btn {background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);}
  



/* 콘텐츠 박스 */
.news-box {width: 100%; height: 100%; margin: 0 auto; margin-bottom: 50px; }
.news-box > h2 {font-size: 30px; font-weight: 500; color: #333; padding: 50px 0;}
.news-box > .card-con {display: grid;align-items: center; grid-template-columns: repeat(3, 1fr); gap: 100px; }
.card-box {display: flex; flex-direction: column; height: 400px; background: #fff; border-radius: 20px; overflow: hidden;  color: #fff; box-shadow: 1px 2px 10px #333;}
.card-box > .card-img {background: #fff; height: 50%; color: #333; overflow: hidden; }
.card-box > .card-img:hover { transition: all 0.3s; opacity: 0.8;}
.card-box > .card-detail {display: flex; flex-direction: column; padding: 20px; text-overflow: ellipsis;}
.card-detail > .title, .content, .date {color: #333;}
.card-detail > .title { font-size: 20px; margin-bottom: 10px; font-weight: 500;}
.card-detail > .content { font-size: 16px;}
.card-detail > .date {font-size: 12px; margin-top: 10px;}


