@charset "utf-8";
@import url('fonts.css');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

/* 공통 */
body {color: #333; font-family: 'Noto Sans KR', sans-serif, 'Gmarket Sans'; box-sizing: border-box; scroll-behavior: smooth; overflow-x: hidden;  width: 100%; height: auto; background: #fff;}
#wrap { width: 100%; height: 100%; }
main {max-width: 1200px; height: 100vh; margin: 0px auto; padding-top: 150px;}


/* 회원가입 텍스트 */
.top-join {display: flex; justify-content: space-between;}
.top-join > h2 {margin-bottom: 25px; font-size: 28px; font-weight: 700;}

/* 회원가입 약관 */
.term-detail {width: 100%; height: 250px; border: 2px solid #ccc; overflow: scroll; overflow-x: hidden; color: #333; font-size: 14px;}
.term-box {margin-bottom: 25px;}
.term-box > h3 {font-weight: 500; margin-bottom: 25px;}

/* 체크표시 */
.check > span {display: inline-block; font-weight: 500; margin-left: 10px; margin-bottom: 25px; color: #100e1d;}

/* 계좌번호, 아이디, 패스워드 */
.join-text {margin-left: 20px; margin-top: 25px; font-size: 14px;}
.join-text > ol > li {line-height: 1.5;}
.joinForm > table {width: 100%; margin-top: 25px; border-top: 2px solid #333; border-bottom: 2px solid #333;}
.joinForm > table th {border-right: 1px solid #333; background: #eee; font-weight: 300; font-size: 14px;}
.joinForm > table tr {border-bottom: 1px solid #555; }
.joinForm > table tr:nth-child(6) {border-bottom: none;}
.joinForm > table td {display: flex; align-items: center; padding: 10px;}
.joinForm > table input {display: inline-block; background: #b3c8e2; width: 300px;  outline: none; border: 2px solid #ccc; padding: 5px;}
.joinForm > table span {font-size: 12px; color: #555; padding-left: 10px;}


.num-btn {border: none; border-radius: 10px; padding: 5px 10px; margin-left: 10px; background: #333; color: #fff;}
.join-btn {display: flex; justify-content: center; align-items: center; margin: 50px 0; gap: 25px;}
.join-chk {width: 100px; padding: 15px 20px; background: #26a7e2;  border-radius: 50px; border: none; color: #fff; font-weight: bold; font-size: 16px; cursor: pointer;}
.join-chk.back {background: #333;}