<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PASSBANK I:: 마이계좌조회</title>
    <!-- css -->
   <link rel="icon" th:href="@{/img/favicon-01.png}">
   <link rel="stylesheet" th:href="@{/css/common/reset.css}">
   <link rel="stylesheet" th:href="@{/css/common/all.min.css}">
   <link rel="stylesheet" th:href="@{/css/common/fonts.css}">
   <link rel="stylesheet" th:href="@{/css/header-footer.css}">
   <link rel="stylesheet" th:href="@{/css/account.css}">
   <!-- js -->
    <script src="/js/account.js"></script>
</head>
<body>
    <div class="wrap">
        <header>
			<div id="header-box">
				<h1 class="logo"><a href="/"><img src="/img/logo_white.png" alt="패스뱅크"></a></h1>
				<div class="nav">
					<ul>
						<li class="main-menu"><a href="#">MY</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="#">마이계좌조회</a></li>
								<li class="sub-menu"><a href="#">개인정보변경</a></li>
							</ul>
						</li>
						<li class="main-menu"><a href="#">상품</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="#">통장</a></li>
								<li class="sub-menu"><a href="#">카드</a></li>
							</ul>
						</li>
						<li class="main-menu"><a href="#">이체</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="#">계좌이체</a></li>
								<li class="sub-menu"><a href="#">증권이체</a></li>
							</ul>
						</li>
						<li class="main-menu"><a href="#">상품</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="#">증권 구매</a></li>
								<li class="sub-menu"><a href="#">증권 판매</a></li>
							</ul>
						</li>
					</ul>
					<div id="box-bg">
					</div>
				</div>
				<div class="top-nav">
					<span class="top-btn"><a href="/admin">관리자</a></span>
					<span class="top-btn"><a href="/login">로그인</a></span>
				</div>
			</div>
		</header>
		<!-- //header -->
		
    </div>
</body>
</html>