<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>패스트립 :: 일정 목록</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <!-- css -->
	<link rel="icon" th:href="@{/img/favicon-01.png}">
	<link rel="stylesheet" th:href="@{/css/common/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common/all.min.css}">
	<link rel="stylesheet" th:href="@{/css/common/fonts.css}">
	<link rel="stylesheet" th:href="@{/css/header-footer.css}">
	<link rel="stylesheet" th:href="@{/css/todomain.css}">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
	<!-- js -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/todomain.js"></script>
</head>
<body>
    <!-- Header 포함 -->
    <div id="wrap">
        <header class="length">
			<div id="header-box">
				<h1 class="logo"><a href="/"><img src="/img/logo_black.png" alt="패스뱅크"></a></h1>
				<div class="nav">
					<ul>
						<li class="main-menu"><a href="#">마이페이지</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="/account">마이페이지</a></li>
								<li class="sub-menu"><a href="/account">즐겨찾기</a></li>
								<li class="sub-menu"><a href="/account">팔로워</a></li>
							</ul>
						</li>
						<li class="main-menu"><a href="#">일정</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="/todolist">일정 관리</a></li>
								<li class="sub-menu"><a href="#">공유된 일정</a></li>
							</ul>
						</li>
						<li class="main-menu"><a href="#">고객센터</a>
							<ul class="sub-nav">
								<li class="sub-menu"><a href="#">계좌이체</a></li>
								<li class="sub-menu"><a href="#">증권이체</a></li>
							</ul>
						</li>
					</ul>
					<div id="box-bg">
					</div>
				</div>
				<div class="top-nav">
					<span class="top-btn"><a href="/admin" class="banner-btn btn">관리자</a></span>
					<th:block th:if="${session.user == null}">
						<span class="top-btn"><a href="/login" class="banner-btn btn">로그인</a></span>
					</th:block>
					<th:block th:if="${session.user != null}">
						<span class="top-btn"><a href="/logout" class="banner-btn btn">로그아웃</a></span>
					</th:block>
				</div>
			</div>
		</header>
        <main class="main">
            <div class="top-text">
                <h2>일정 목록</h2>
                <div class="top-right">
                    <p><span>우선순위</span></p>
                    <p><span>완료</span></p>
                </div>
            </div>
            <div class="todo-inner">
                <div class="todo-box">
                    <h3 class="sticker">1월</h3>
                    <div class="input-box">
                        <input type="checkbox" id="chk1">
                        <label for="chk1">민경이 이직하ddddddddddddd기</label>
                    </div>
                </div>
                <div class="todo-box">
                    <h3 class="sticker">5월</h3>
                    <div class="input-box">
                        <input type="checkbox" id="chk2">
                        <label for="chk2">성식이 이직하기</label>
                    </div>
                </div>
                <div class="todo-box">
                    <h3 class="sticker">3월</h3>
                    <input type="checkbox" id="chk3">
                    <label for="chk3">뷰 공부하기</label>
                </div>
                <div class="todo-box">
                    <h3 class="sticker">4월</h3>
                    <input type="checkbox" id="chk4">
                    <label for="chk4">뷰 공부하기</label>
                </div>
            </div>
            <div class="buttons color"><a href="/todolist" class="banner-btn btn">전체 일정 목록</a></div>
        </main>
        <footer class="length">
            <div class="f-inner">
                <div class="f-left">
                    <address>
                        <h4>고객센터</h4>
                        <span>전화 : 1588-1234 (평일 오전9시 ~ 오후 6시)</span>
                        <span>숙소/티켓문의 : 1588-5678 (24시간 연중무휴)</span>
                        <span>이메일문의 : japgaja8282@naver.com</span>
                    </address>
                    <h4>(주)패스트립</h4>
                    <article>
                        <div class="kim">
                            <h5>Backend : Sung Sig Kim</h5>
                            <h5>email : tjdtlr12349@gmail.com</h5>
                            <h5>Git URL : <a href="#">바로가기<span class="material-symbols-outlined">exit_to_app</span></a></h5>
                        </div>
                        <div class="park">
                            <h5>Backend : Min Kyung Park </h5>
                            <h5>email : 민경@gmail.com</h5>
                            <h5>Git URL : <a href="#">바로가기<span class="material-symbols-outlined">exit_to_app</span></a></h5>
                        </div>
                        <div class="hwang">
                            <h5>Publisher : Ji Hyun Hwang </h5>
                            <h5>email : ghkdwlgus000@gmail.com</h5>
                            <h5>Git URL : <a href="#">바로가기<span class="material-symbols-outlined">exit_to_app</span></a></h5>
                        </div>
                    </article>
                </div>
                <div class="f-right">
                    <ul>
                        <li><a href="#">마이페이지</a></li>
                        <li><a href="#">상품</a></li>
                        <li><a href="#">이체</a></li>
                        <li><a href="#">증권</a></li>
                    </ul>
                    <p>© copyright 2024 Example Corp.</p>
                </div>
            </div>
        </footer>
    </div>

    <script>
        function today(){
            const date = new Date();
        }
    </script>
</body>
</html>
