<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enter Todo Details</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- 실제 경로로 수정 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Your Application</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/list-todos">List Todos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/add-todo">Add Todo</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Enter Todo Details</h1>
        <form th:action="@{/add-todo}" th:object="${todo}" method="post">
            <fieldset class="mb-3">
                <label th:for="description">Description</label>                
                <input type="text" th:field="*{description}" required="required"/>
                <div th:if="${#fields.hasErrors('description')}" class="text-warning">
                    <p th:errors="*{description}">Description Error</p>
                </div>
            </fieldset>
            
            <fieldset class="mb-3"> 
                <label th:for="targetDate">Target Date</label>                
                <input type="text" th:field="*{targetDate}" id="targetDate" required="required"/>
                <div th:if="${#fields.hasErrors('targetDate')}" class="text-warning">
                    <p th:errors="*{targetDate}">Target Date Error</p>
                </div>
            </fieldset>
            
            <input type="" th:field="*{id}"/>
            <input type="" th:field="*{done}"/>
            <input type="submit" class="btn btn-success">
        </form>    
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 Your Application. All rights reserved.</p>
        </div>
    </footer>

    <script type="text/javascript">
        $(function() {
            $('#targetDate').datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
</body>
</html>
