<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>패스트립 :: 일정 만들기</title>
    <!-- css -->
	<link rel="icon" th:href="@{/img/favicon-01.png}">
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/common/fonts.css}">
	<link rel="stylesheet" th:href="@{/css/header-footer.css}">
	<link rel="stylesheet" th:href="@{/css/travellist.css}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
	<!-- js -->
    <script src="/js/travellist.js"></script>
</head>
<body>
    <div id="wrap">
        <header class="admin-header">
            <div id="header-box">
                <h1 class="logo"><a href="/"><img src="/img/logo_black.png" alt="패스뱅크"></a></h1>
                <div class="nav">
                    <!-- <ul>
                        <li class="main-menu"><a href="#">메인화면</a></li>
                        <li class="main-menu"><a href="#">고객관리</a></li>
                    </ul> -->
                </div>
                <div class="top-nav">
                    <span class="top-btn"><a href="#">정보변경</a></span>
                    <span class="top-btn"><a href="/logout">로그아웃</a></span>
                </div>
            </div>
        </header>
        <main class="main">
            <aside>
                <div class="admin-user">
                    <img src="/img/person.png" alt="유저">
                    <p class="name">홍길동님 환영합니다.</p>
                </div>
                <ul class="aside-nav">
                    <li class="aside-menu" data-index="1"><a href="todomain" ><span class="material-symbols-outlined">calendar_month</span>월별 일정 관리</a></li>
                    <li class="aside-menu" data-index="1"><a href="todolist" ><span class="material-symbols-outlined">list</span>전체 일정 목록</a></li>
                    <li class="aside-menu active" data-index="2"><a href="/travellist" ><span class="material-symbols-outlined">flight_takeoff</span>여행 일정</a></li>
                    <li class="aside-menu" data-index="2"><a href="#" ><span class="material-symbols-outlined">monitoring</span>공유된 일정</a></li>
                    <li class="aside-menu" data-index="3"><a href="#" ><span class="material-symbols-outlined">monitoring</span>팔로워 목록</a></li>
                    <li class="aside-menu" data-index="4"><a href="#" ><span class="material-symbols-outlined">person_search</span>고객센터</a></li>
                </ul>
                <hr>
                <ul class="fun">
                    <li><a href="#" target="_blank"><img src="/img/dash-pencil-purple.png" alt="공지사항">공지사항</a></li>
                    <li><a href="https://securities.koreainvestment.com/main/Main.jsp?n_media=27758&n_query=%ED%95%9C%EA%B5%AD%ED%88%AC%EC%9E%90%EC%A6%9D%EA%B6%8C&n_rank=1&n_ad_group=grp-a001-04-000000041279778&n_ad=nad-a001-04-000000324347896&n_keyword_id=nkw-a001-04-000006115364320&n_keyword=%ED%95%9C%EA%B5%AD%ED%88%AC%EC%9E%90%EC%A6%9D%EA%B6%8C&n_campaign_type=4&n_contract=tct-a001-04-000000000972264&n_ad_group_type=5&NaPm=ct%3Dm2in2gn4%7Cci%3D0yC0001mXfjBstsi10Y6%7Ctr%3Dbrnd%7Chk%3Df4f7473fe848897f5d23c8a2f71a596aa6c67e69%7Cnacn%3D6e6JCog9CpKXA" target="_blank"><img src="/img/dash-search.png" alt="주식시장">주식시장</a></li>
                    <li><a href="https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&ssc=tab.nx.all&query=%EC%98%A4%EB%8A%98%EB%82%A0%EC%94%A8&oquery=%ED%95%9C%EA%B5%AD%ED%88%AC%EC%9E%90%EC%A6%9D%EA%B6%8C&tqi=ixU1Swqo1SossObajE8sssssssw-136166" target="_blank"><img src="/img/dash-student-form.png" alt="날씨정보">날씨정보</a></li>
                    <li><a href="https://www.kakaocorp.com/page/service/service/KakaoTalk" target="_blank"><img src="/img/dash-chat.png" alt="카카오톡">카카오톡</a></li>
                </ul>
            </aside>
            <div class="todo-right">
                <div class="schedule-list">
                    <!-- 일정이 추가되면 h3이라는 텍스트는 사라져야함 -->
                    <h3>여행 리스트가 없습니다.<br>새로운 일정을 추가해보세요.</h3>
                    <!-- 여기에 추가된 여행 일정 항목들이 들어갑니다. -->
                </div>
                <!-- 여행 상세 일정 추가 폼 -->
            <div class="add-schedule-form">
                <label for="title">일정 제목</label>
                <input type="text" id="title" placeholder="일정 제목을 입력하세요">

                <label for="start-date">기간</label>
                <input type="date" id="start-date">
                <input type="date" id="end-date">

                <label for="location">위치</label>
                <input type="text" id="location" placeholder="장소를 입력하세요">

                <label for="memo">메모</label>
                <textarea id="memo" placeholder="메모를 추가하세요"></textarea>

                <label for="shared-with">공유 대상</label>
                <input type="email" id="shared-with" placeholder="이메일을 입력하세요">

                <div class="checklist">
                    <label>체크리스트 항목</label>
                    <div id="checklist-items">
                        <button type="button" class="checklist-item">여권</button>
                        <button type="button" class="checklist-item">카메라</button>
                        <button type="button" class="checklist-item">숙소 예약 확인</button>
                    </div>
                    <button class="edit-checklist-btn">편집하기</button>
                </div>

                <button type="button" class="submit-button" id="add-schedule">추가하기</button>
            </div>
            </div>
            
            <!-- 체크리스트 편집 모달 -->
            <div id="checklist-modal" class="modal">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <h2>체크리스트 항목 추가/수정</h2>
                    <input type="text" id="new-checklist-item" placeholder="새 항목 입력">
                    <button id="add-checklist-item">항목 추가</button>
                </div>
            </div>
            <div id="edit-modal" class="modal">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <h2>일정 편집</h2>
                    <form id="edit-schedule-form" data-id="0">
                        <label for="edit-title">일정 제목</label>
                        <input type="text" id="edit-title" name="title" required>
                
                        <label for="edit-start-date">시작 날짜</label>
                        <input type="date" id="edit-start-date" name="start-date" required>
                
                        <label for="edit-end-date">종료 날짜</label>
                        <input type="date" id="edit-end-date" name="end-date" required>
                
                        <label for="edit-location">위치</label>
                        <input type="text" id="edit-location" name="location" required>
                
                        <label for="edit-memo">메모</label>
                        <textarea id="edit-memo" name="memo"></textarea>
                
                        <label for="edit-shared-with">공유 대상</label>
                        <input type="email" id="edit-shared-with" name="shared-with">
                
                        <button type="submit" class="submit-button">저장</button>
                    </form>
                </div>
            </div>
            
        </main>
</body>
</html>